In [1]:
myset = {"Apple", "Banana", "Mango"}
myset

{'Apple', 'Banana', 'Mango'}

In [2]:
type(myset)

set

In [3]:
for item in myset:
    print(item)

Banana
Mango
Apple

In [4]:
myset = {"Apple", "Banana", "Mango", "Banana"}
myset

{'Apple', 'Banana', 'Mango'}

In [5]:
myset.add("Orange")
myset

{'Apple', 'Banana', 'Mango', 'Orange'}

In [6]:
myset.remove("Mango")
myset

{'Apple', 'Banana', 'Orange'}

In [8]:
List1 = [1,2,3]
List2 = [2,3,4,4]
### Finallist = [1,2,3,4] , make a unique list###
myfinalset = set(List1).union(set(List2))
list(myfinalset)

[1, 2, 3, 4]

In [9]:
List1 = [1,2,3]
List2 = [2,3,4,4]
### Finallist = [1,2,3,4] , make a common list###
myfinalset = set(List1).intersection(set(List2))
list(myfinalset)

[2, 3]

In [10]:
List1 = [1,2,3]
List2 = [2,3,4,4]
### Finallist = [1,2,3,4] , make a common list###
myfinalset = set(List2).difference(set(List1))
list(myfinalset)

[4]

In [11]:
myset

{'Apple', 'Banana', 'Orange'}

In [13]:
### Set did not contain duplicate values ###
myset.add("Orange")
myset

{'Apple', 'Banana', 'Orange'}

In [14]:
List1 = [1,2,3]
List2 = [2,3,4,4]
### Finallist = [1,2,3,4] , make a common list###
myfinalset = set(List1).difference(set(List2))
list(myfinalset)

[1]