In [1]:
Studentsinclass7 = {"Akas": 2, "Rahim": 21, "Karim": 15, "Piya": 31, "Bubli": 45}
Studentsinclass7

{'Akas': 2, 'Rahim': 21, 'Karim': 15, 'Piya': 31, 'Bubli': 45}

In [2]:
type(Studentsinclass7)

dict

In [3]:
Studentsinclass7.keys()

dict_keys(['Akas', 'Rahim', 'Karim', 'Piya', 'Bubli'])

In [4]:
Studentsinclass7.values()

dict_values([2, 21, 15, 31, 45])

In [5]:
len(Studentsinclass7)

5

In [6]:
Studentsinclass7['Sagor'] = 53
Studentsinclass7

{'Akas': 2, 'Rahim': 21, 'Karim': 15, 'Piya': 31, 'Bubli': 45, 'Sagor': 53}

In [7]:
Studentsinclass7 ['Karim']

15

In [8]:
Studentsinclass7['Rahim'] = 8
Studentsinclass7

{'Akas': 2, 'Rahim': 8, 'Karim': 15, 'Piya': 31, 'Bubli': 45, 'Sagor': 53}

In [9]:
Studentsinclass7.pop('Bubli')
Studentsinclass7

{'Akas': 2, 'Rahim': 8, 'Karim': 15, 'Piya': 31, 'Sagor': 53}

In [11]:
for name, roll in Studentsinclass7.items():
    print("Roll number of ", name, "is", roll)

Roll number of  Akas is 2
Roll number of  Rahim is 8
Roll number of  Karim is 15
Roll number of  Piya is 31
Roll number of  Sagor is 53

In [12]:
if 'Piya' in Studentsinclass7.keys():
    print (Studentsinclass7['Piya'])
else:
    print ("Invalid Entry")

31

In [13]:
if 'Ruma' in Studentsinclass7.keys():
    print (Studentsinclass7['Ruma'])
else:
    print ("Invalid Entry")

Invalid Entry

In [16]:
Studentsinclass7

{'Akas': 2, 'Rahim': 66, 'Karim': 15, 'Piya': 31, 'Sagor': 53}

In [15]:
### Dictionary did not contain duplicate entry. But in List it can be possible.###

In [17]:
Studentsinclass7['Rahim'] = 25
Studentsinclass7

{'Akas': 2, 'Rahim': 25, 'Karim': 15, 'Piya': 31, 'Sagor': 53}

In [18]:
Studentsinclass7 = {"Akas": 2, "Rahim": 21, "Karim": 15, "Piya": 31, "Akas": 45}
Studentsinclass7

{'Akas': 45, 'Rahim': 21, 'Karim': 15, 'Piya': 31}